*{
    margin: 0;
    left: 0;
    right: 0;
}

.header-section{
    background-color: #222831;
}

.title-heading{
    color: #EEEEEE;
}

.footer-navigation-section{
    background-color: #222831;   
}

.footer-navigation-icons{
    color: #00ADB5; 
    font-size: 2em;
}

.footer-navigation-icons:hover{
    color: #EEEEEE;
}

.lists{
    display: flex;
    justify-content: space-between;
}